@using Microsoft.AspNetCore.Components.Authorization
@using WebApp.Clients

@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Nav
@inject AuthClient AuthClient



<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        @if (!isAuthenticated)
        {
            <!-- Only show Login when unauthenticated -->
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/login">
                    <span class="bi bi-box-arrow-in-right"></span> Login
                </NavLink>
            </div>
        }

        @if (isAuthenticated)
        {
            <div class="nav-item px-3">
                <a class="nav-link" href="#" @onclick="Logout">
                    <span class="bi bi-box-arrow-left"></span> Logout
                </a>
            </div>
            <!-- Protected menu items -->
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/users">
                    <span class="bi bi-people"></span> Users
                </NavLink>
            </div>
        }

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await AuthClient.LogoutAsync();
        Nav.NavigateTo("/login", forceLoad: true);
    }

    private bool isAuthenticated;

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;

        AuthStateProvider.AuthenticationStateChanged += async (task) =>
        {
            var newState = await task;
            isAuthenticated = newState.User.Identity?.IsAuthenticated ?? false;
            StateHasChanged();
        };
    }
}
