@using Microsoft.AspNetCore.Authorization
@using WebApp.Clients
@using WebApp.Dtos

@page "/employees/add"

@attribute [Authorize]

@inject EmployeeClient EmployeeClient
@inject NavigationManager Nav

<h3>Employee</h3>

<EditForm Model="@employee" OnValidSubmit="Save">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
    <div class="mb-3">
        <label>Name</label>
        <InputText class="form-control" @bind-Value="employee.Name"/>
    </div>

    <div class="mb-3">
        <label>Birthdate</label>
        <InputDate class="form-control" @bind-Value="employee.Birthdate" min="1900-01-01" max="@DateTime.Today.ToString("yyyy-MM-dd")" />
    </div>

    <div class="mb-3">
        <label>Identity #</label>
        <InputText class="form-control" @bind-Value="employee.IdentityNumber" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <InputText class="form-control" @bind-Value="employee.Email" />
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
    <button class="btn btn-secondary" type="button" @onclick="Cancel">Cancel</button>
</EditForm>

@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-info mt-3">@Message</div>
}

@code {
    EmployeeDto employee = new()
    {
        Birthdate = DateTime.Now
    };
    string Message = string.Empty;

    async Task Save()
    {
        var saved = await EmployeeClient.CreateAsync(employee);

        if (saved) Nav.NavigateTo("/employees");
        else Message = "Error while creating employee";
    }

    void Cancel()
    {
        Nav.NavigateTo("/employees");
    }
}
